n8n/al-tg-callback.json
{
  "name": "al-tg-callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.CONTENT_BOT_TOKEN }}",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-callback",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst cq = body.callback_query;\nif (!cq) return [{ json: { skip: true } }];\nconst [action, pack_id] = (cq.data || '').split(':');\nconst staticData = $getWorkflowStaticData('global');\nconst pending = (staticData.pending || {})[pack_id];\nif (!pending) {\n  // Already handled\n  return [{ json: { action: 'already_handled', pack_id, callback_id: cq.id } }];\n}\nreturn [{ json: { action, pack_id, pending, callback_id: cq.id } }];"
      },
      "id": "extract-action",
      "name": "Extract Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "pub", "operator": { "type": "string", "operation": "equals" } }]
        }
      },
      "id": "if-pub",
      "name": "If Publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TG_CHANNEL_ID }}",
        "text": "={{ $json.pending.text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-to-channel",
      "name": "Send to Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "operation": "answerQuery",
        "queryId": "={{ $json.callback_id }}",
        "text": "Опубликовано ✅",
        "showAlert": false
      },
      "id": "answer-pub",
      "name": "Answer Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "answerQuery",
        "queryId": "={{ $json.callback_id }}",
        "text": "Отклонено ❌",
        "showAlert": false
      },
      "id": "answer-rej",
      "name": "Answer Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Action", "type": "main", "index": 0 }]] },
    "Extract Action": { "main": [[{ "node": "If Publish", "type": "main", "index": 0 }]] },
    "If Publish": {
      "main": [
        [{ "node": "Send to Channel", "type": "main", "index": 0 }],
        [{ "node": "Answer Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Send to Channel": { "main": [[{ "node": "Answer Published", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["sp-b", "content-factory"],
  "triggerCount": 0,
  "updatedAt": "2026-06-27T00:00:00.000Z",
  "versionId": "1"
}
